@page
@model EventUITest.Pages.Scratchpad.TreeView.BuildTestModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/TreeVIew/BuildTest.js"></script>
}

<button id="swap">Swap Build</button>
<button id="cancelExpand">Cancel (Expand)</button>
<button id="cancelCollapse">Cancel (Collapse)</button>
<button id="continueBuild">Continue Build</button>
<button id="skip">Expand Skip</button>
<div id="treeRoot">

</div>