@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul style="list-style:none">
        <li>
            <a href="Scratchpad">Debug Scratchpad</a>
        </li>
        <li>
            <a href="Unit">Unit Test Runner</a>
        </li>
    </ul>
</div>

@section Scripts
{
    <script>

    </script>
}