@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
</div>

@section Scripts
{
    <script src="test_src/EVUITest2.js"></script>    
    <script><
    </script>
}