@page
@model EventUITest.Pages.Unit.AutoRunModel
@{
    Layout = "_EVUITestLayout";
}


<div class="testOutputContainer">
</div>

@section Scripts
{
    <script src="/js/UnitTesting/UnitTestHost.js"></script>
    <script>
        const TestHostServerArgs = @Model.GetHostArgsJSON()
    </script>
    <script>

        var host = new EVUIUnit.Controllers.HostController();
        host.initialize(TestHostServerArgs, document.body);
        host.runAllAsync();

    </script>
}

