@page
@model EventUITest.Pages.Unit.IndexModel
@{
}

<ul style="list-style: none;">
    <li>
        <a href="Unit/AutoRun">Auto-Run All</a>
    </li>
    <li>
        <a href="Unit/Files">Debug Specific Test File</a>
    </li>
</ul>