@page
@model EventUITest.Pages.Scratchpad.Diff.DOMDiffModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/Diff/domDiff.js"></script>
}

<button id="hash">Hash Test</button>
<button id="domDiff">Dom Diff</button>
<button id="hashCollision">Hash Collision</button>
<button id="domTree">Dom Tree</button>

<div id="bindingContent"></div>