@page
@model EventUITest.Pages.Scratchpad.Modal.ModalTestModel
@{
}


<div style="height: 1000px; width: 1000px;" evui-m-selector="#center" onclick="$evui.showModal(event)"></div>

<div id="center" style="height: 250px; width: 250px; background-color:green;" evui-m-center="true"></div>