@page
@model EventUITest.Pages.Scratchpad.Binder.AsyncTestModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/Binder/asyncTest.js"></script>
}

<button id="go">Go</button>
<div id="insertion"></div>