@page
@model EventUITest.Pages.Scratchpad.Binder.AttributeTestModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/Binder/attributeTest.js"></script>
}

<div><input type="text" id="addClass" />/><button id="add">Add Class</button></div>
<div><input type="text" id="removeClass" /><button id="remove">Remove Class</button></div>
<div><input type="text" id="class1" /><button id="change1">Change Class 1</button></div>
<div><input type="text" id="class2"/><button id="change2">Change Class 2</button></div>


<div id=insertionDiv></div>
<div id=output></div>