@page
@model EventUITest.Pages.Scratchpad.Binder.BindingMergeModel
@{
}
@section Scripts
{
    <script src="~/js/TestScript/Binder/bindingMergeTest.js"></script>
}

<button id="test">Test Merge</button>
<button id="test2">Append</button>

<div id="insertion"></div>