@page
@model EventUITest.Pages.Scratchpad.Binder.RecursionTestModel
@{
}

@section Scripts
{
<script src="~/js/TestScript/Binder/recursionTest.js"></script>
}

<button id="build">Build</button>
<button id="clear">Clear</button>
<button id="updateRoot">UpdateRoot</button>
<button id="updateSub">UpdateSub</button>
<button id="updateSubSub">UpdateSubSub</button>
<button id="updateArray">UpdateArray</button>
<button id="updateSubArray">UpdateSubArray</button>

<div id="insertion"></div>