@page
@model EventUITest.Pages.Scratchpad.Binder.TicTacToeModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/Binder/TicTacToe.js"></script>
}

<div id="game"></div>
<div id="game2" style="background: green;"></div>