@page
@model EventUITest.Pages.Scratchpad.Window.ShowFromMarkupModel
@{
}

<button evui-pane-id="http" evui-pane-src="/Partials/Pane/Http.html" evui-pane-show-settings='absolutePosition.top: 500; showTransition.css:{"display": "block", "backgroundColor": "blue"}; showTransition.duration:3000; absolutePosition.left: 500;' onclick="$evui.showPane(event)">Via HTTP</button>
<button evui-pane-id="http" onclick="$evui.hidePane(event)">Hide</button>