@page
@model EventUITest.Pages.Scratchpad.Panes.AnchorTestModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/Panes/paneAnchorTest.js"></script>
}

<strong id="title"></strong>

<div id="container" style="position:absolute; display: flex; flex-direction: row; max-width: 1000px; flex-wrap:wrap;">
    <div id="top" style="width: 1000px; height: 100px; background-color: gray;">
    </div>
    <div id="left" style="width: 100px; height: 400px; background-color:brown">
    </div>
    <div id="right" style="width: 100px; height: 400px; background-color:orange; margin-left:auto;">
    </div>
    <div id="bottom" style="width: 1000px; height: 100px; background-color: green;">
    </div>
</div>

<div id="thing" class="thing"></div>
<button id="next">Next</button>
<button id="previous">Previous</button>