@page
@model EventUITest.Pages.Scratchpad.Panes.ModalTestModel
@{
}


<div style="height: 1000px; width: 1000px;" evui-pane-selector="#center" evui-pane-template="modal" onclick="$evui.showPane(event)"></div>

<div id="center" style="height: 250px; width: 250px; background-color:green;" evui-m-center="true"></div>