@page
@model EventUITest.Pages.Scratchpad.Events.EventTestModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/Events/eventsTest.js"></script>
}

<button id="single">Single Event</button>
<button id="once">Once Event</button>
<button id="multiple">Multiple Events</button>
<button id="ask">Ask</button>

<div id="textOutput"></div>