@page
@model EventUITest.Pages.Scratchpad.Dialog.DefineAndShowModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/Dialog/defineAndShow.js"></script>
}

<button evui-dlg-center="true" evui-dlg-resize-handles="top left" evui-dlg-id="test" onclick="$evui.showDialog(event)">Show</button>