@page
@model EventUITest.Pages.Scratchpad.Dialog.ZIndexTestModel
@{
}

@section Scripts
{
    <script src="~/js/TestScript/Dialog/zIndexTest.js"></script>
}

<button evui-dlg-selector=".testDialog" onclick="$evui.showDialog(event)">Show 1</button>
<button evui-dlg-selector=".testDialog2" onclick="$evui.showDialog(event)">Show 2</button>